---
layout: default
---

<section>

  <article class="mx-auto measure markdown">
    <h1 class="mt-6">{{ title }}</h1>
    <div class="mt-8 flow">
      {{ content | safe }}
    </div>
  </article>

</section>